.index {
  height: 23px;
  min-width: 20px;
  cursor: default;
  font-weight: 700;
  padding: 0px 6px;
  user-select: none;
  font-size: 0.75rem;
  border-radius: 6px;
  align-items: center;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
}
