.div {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
  justify-content: space-between;
}

.button {
  max-height: 40px;
  padding: 6px 10px !important;
}

.stack {
  gap: 24px;
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
}

.paper {
  height: 160px;
  cursor: pointer;
  min-width: 222px;
  position: relative;
  border-radius: 10px !important;
  border: 1px solid rgba(145, 158, 171, 0.16);
}

.paper:hover {
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 20px 40px -4px;
}

.secondary {
  bottom: 20px;
  position: absolute;
}
