.card {
  padding: 0;
  margin-bottom: 24px;
  background-image: none;
}

.flex {
  display: flex;
}

.stack {
  display: flex;
  flex-direction: row;
}

.row {
  gap: 8px;
  display: flex;
  flex-direction: row;
}

.chart {
  width: 100%;
  height: 70vh;
}

.tools {
  gap: 4px;
  display: flex;
  height: min-content;
  flex-direction: column;
}
