.stack {
  gap: 24px;
}

.div {
  display: flex;
  margin-top: 15px;
  align-items: flex-end;
  flex-direction: column;
}

.hover:hover {
  text-decoration: underline;
}

.button {
  margin-top: 30px !important;
}
